#Statusa {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusb {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusc {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusd {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statuse {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusf {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusg {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statush {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusi {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusj {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusk {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusl {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusm {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
#Statusn {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}

.warnahijau {
	background-color: #4cd137;
}
.warnaorange {
    background-color: #fa8231;
}
.warnamerah {
    background-color: #ff3838;
}



#ONa {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONb {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONc {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONd {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONe {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONf {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONg {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONh {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONi {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONj {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONk {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONl {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONm {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONn {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONo {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
#ONp {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}

.warnaoff {
	background-color: #8395a7;
}
.warnaon {
	background-color: #0984e3;
}