.NORMAL {
    background-color: #4cd137;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
.WASPADA {
    background-color: #fa8231;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
.BAHAYA {
    background-color: #ff3838;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}
.StatusOff {
    background-color: #8395a7;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    border: 0px;
}

/**
.warnahijau {
	background-color: #4cd137;
}
.warnaorange {
    background-color: #fa8231;
}
.warnamerah {
    background-color: #ff3838;
}
**/



.ON {
    background-color: #0984e3;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}
.OFF {
    background-color: #8395a7;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    border: 0px;
}

/**
.warnaoff {
	background-color: #8395a7;
}
.warnaon {
	background-color: #0984e3;
}
**/