
body {
	background-color: #0e1d33;
    margin: 0;
    font-size:14px;
    color:#fff;
}

h2 {
    text-align: center;
    color: #ffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    height: 120px;
}

ul img {
    height: 30px;
    width: 70px;
}

.container .row img {
    width: 550px;
    height: 400px;
    margin-left: 50px;
    margin-top: 70px;
}

.container .pesan {
    margin: auto;
}

.container .form-signin{
    width:300px;
    max-width:100%;
    margin:40px auto;
}

.container .btn{
    background-color: #45aaf2;
    color:#fff;
}

a.daftar:link {
    color: #fff;
}

